<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.helios.mapper.BaseMenuMapper">
  <resultMap id="BaseResultMap" type="com.seadun.helios.entity.BaseMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPT_USER" jdbcType="VARCHAR" property="uptUser" />
    <result column="UPT_NAME" jdbcType="TIMESTAMP" property="uptName" />
  </resultMap>
  
  <resultMap id="BaseMenuTreeMap" type="com.seadun.helios.entity.BaseMenuTree">
   <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPT_USER" jdbcType="VARCHAR" property="uptUser" />
    <result column="UPT_NAME" jdbcType="TIMESTAMP" property="uptName" />
    <collection property="children" select="getChildren" column="id" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, CODE, PATH, PARENT_ID, CRT_USER, CRT_TIME, UPT_USER, UPT_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BASE_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BASE_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
   <delete id="clear">
    delete from BASE_MENU
  </delete>
  <insert id="insert" parameterType="com.seadun.helios.entity.BaseMenu">
    insert into BASE_MENU (ID, NAME, CODE, 
      PATH, PARENT_ID, CRT_USER, 
      CRT_TIME, UPT_USER, UPT_NAME
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{crtUser,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{uptUser,jdbcType=VARCHAR}, #{uptName,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.seadun.helios.entity.BaseMenu">
    insert into BASE_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
      <if test="uptUser != null">
        UPT_USER,
      </if>
      <if test="uptName != null">
        UPT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptUser != null">
        #{uptUser,jdbcType=VARCHAR},
      </if>
      <if test="uptName != null">
        #{uptName,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seadun.helios.entity.BaseMenu">
    update BASE_MENU
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null">
        CRT_USER = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptUser != null">
        UPT_USER = #{uptUser,jdbcType=VARCHAR},
      </if>
      <if test="uptName != null">
        UPT_NAME = #{uptName,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seadun.helios.entity.BaseMenu">
    update BASE_MENU
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_NAME = #{uptName,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getChildren" resultMap="BaseMenuTreeMap">
    select 
    <include refid="Base_Column_List" />
    from BASE_MENU
    where PARENT_ID = #{ID,jdbcType=VARCHAR}
    order by CRT_TIME asc
  </select>
  <select id="selectTree" resultMap="BaseMenuTreeMap">
    select 
    <include refid="Base_Column_List" />
    from BASE_MENU
    where PARENT_ID = '-1'
    order by CRT_TIME asc
  </select>
</mapper>