<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.helios.mapper.PcMapper">
  <resultMap id="BaseResultMap" type="com.seadun.helios.entity.Pc">
    <id column="ASSET_CODE" jdbcType="VARCHAR" property="assetCode" />
    <result column="ASSET_NAME" jdbcType="VARCHAR" property="assetName" />
    <result column="ASSET_DUTY_CODE" jdbcType="VARCHAR" property="assetDutyCode" />
    <result column="ASSET_DUTY_NAME" jdbcType="VARCHAR" property="assetDutyName" />
    <result column="ASSET_TYPE" jdbcType="VARCHAR" property="assetType" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="UPT_USER" jdbcType="VARCHAR" property="uptUser" />
    <result column="UPT_TIME" jdbcType="TIMESTAMP" property="uptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ASSET_CODE, ASSET_NAME, ASSET_DUTY_CODE, ASSET_DUTY_NAME, ASSET_TYPE, ORG_CODE, ORG_NAME, 
    STATUS, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PC
    where ASSET_CODE = #{assetCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PC
    where ASSET_CODE = #{assetCode,jdbcType=VARCHAR}
  </delete>
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PC
    where 1=1
    <if test="assetCode != ''">
      and ASSET_CODE = #{assetCode,jdbcType=VARCHAR}
    </if>
    <if test="assetType != ''">
      and ASSET_TYPE = #{assetType,jdbcType=VARCHAR}
    </if>
  </select>
  <insert id="insert" parameterType="com.seadun.helios.entity.Pc">
    insert into PC (ASSET_CODE, ASSET_NAME, ASSET_DUTY_CODE, 
      ASSET_DUTY_NAME, ASSET_TYPE, ORG_CODE, 
      ORG_NAME, STATUS, CRT_USER, 
      CRT_TIME, UPT_USER, UPT_TIME
      )
    values (#{assetCode,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, #{assetDutyCode,jdbcType=VARCHAR}, 
      #{assetDutyName,jdbcType=VARCHAR}, #{assetType,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{crtUser,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.seadun.helios.entity.Pc">
    insert into PC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assetCode != null">
        ASSET_CODE,
      </if>
      <if test="assetName != null">
        ASSET_NAME,
      </if>
      <if test="assetDutyCode != null">
        ASSET_DUTY_CODE,
      </if>
      <if test="assetDutyName != null">
        ASSET_DUTY_NAME,
      </if>
      <if test="assetType != null">
        ASSET_TYPE,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="crtTime != null">
        CRT_TIME,
      </if>
      <if test="uptUser != null">
        UPT_USER,
      </if>
      <if test="uptTime != null">
        UPT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assetCode != null">
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null">
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetDutyCode != null">
        #{assetDutyCode,jdbcType=VARCHAR},
      </if>
      <if test="assetDutyName != null">
        #{assetDutyName,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptUser != null">
        #{uptUser,jdbcType=VARCHAR},
      </if>
      <if test="uptTime != null">
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seadun.helios.entity.Pc">
    update PC
    <set>
      <if test="assetName != null">
        ASSET_NAME = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetDutyCode != null">
        ASSET_DUTY_CODE = #{assetDutyCode,jdbcType=VARCHAR},
      </if>
      <if test="assetDutyName != null">
        ASSET_DUTY_NAME = #{assetDutyName,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        ASSET_TYPE = #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null">
        CRT_USER = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptUser != null">
        UPT_USER = #{uptUser,jdbcType=VARCHAR},
      </if>
      <if test="uptTime != null">
        UPT_TIME = #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ASSET_CODE = #{assetCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seadun.helios.entity.Pc">
    update PC
    set ASSET_NAME = #{assetName,jdbcType=VARCHAR},
      ASSET_DUTY_CODE = #{assetDutyCode,jdbcType=VARCHAR},
      ASSET_DUTY_NAME = #{assetDutyName,jdbcType=VARCHAR},
      ASSET_TYPE = #{assetType,jdbcType=VARCHAR},
      ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=TIMESTAMP},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=TIMESTAMP}
    where ASSET_CODE = #{assetCode,jdbcType=VARCHAR}
  </update>
</mapper>